/**
 * 
 *  @module      	Topics
 *  @author         Chio Maisriml, Dietrich Roland Pehlke, erpe
 *  @license        http://creativecommons.org/licenses/by/3.0/
 *  @platform       see info.php of this addon
 *  @license terms  see info.php of this addon
 *  @version        see info.php of this module
 *  
 *
 */

@import url(../lib_comp/dist/jscalendar/calendar-system.css);

td {
	vertical-align: top;
}

.mod_moduledirectory_edit_css {float:right;}

div.topic-modify {margin-top:20px; font-size:14px; width:100%;}
div.topic-modify a {display:block; float:left; height:35px; width:150px; padding: 12px 0 0 24px;}
div.topic-modify .topic-modify-add { background: transparent url(img/T.png) no-repeat; }
div.topic-modify .topic-modify-settings { background: transparent url(img/T.png) no-repeat; }
div.topic-modify .topic-modify-help { background: transparent url(img/T.png) no-repeat; }


div.topic-modifytopic  a {
	display:block;
	margin: 0 0 10px 50px;
	padding: 12px 0 12px 45px;
	background-color: #cde7ef;
	background-image: url(img/none.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-decoration:none;
}
div.topic-modifytopic .topic-modifytopic-see-also { background-image: url(img/icons/see-also.png);}
div.topic-modifytopic .topic-modifytopic-bakery { background-image: url(img/icons/see-bakery.png);}
div.topic-modifytopic .topic-modifytopic-authors { background-image: url(img/icons/authors.png);}
div.topic-modifytopic .topic-modifytopic-new { background-image: url(img/icons/new.png);}
div.topic-modifytopic .topic-modifytopic-duplicate { background-image: url(img/icons/duplicate.png);}
div.topic-modifytopic .topic-modifytopic-settings { background-image: url(img/icons/settings.png);}
div.topic-modifytopic .topic-modifytopic-help { background-image: url(img/icons/help.png);}
div.topic-modifytopic .topic-modifytopic-delete { background-image: url(img/icons/delete.png);}



.topicpic_container {
	border: 1px solid #999999;
	overflow: hidden;
	height: 160px;
	width: 300px;
	text-align:center;
	background-color:#dddddd;
}

.topicpic_container #topicpic {max-height: 160px; }
.topicpic_container .switchbox a img {float: left; border-right: #999;}

a img {border:0;}


/*settings*/
.tablinks a {display:block; float:left; padding:6px 3px 2px 3px; border: 1px solid #666; margin: 0 3px -2px 0; }
.settingsform table td {vertical-align:top; padding-bottom:5px;}
.settingsform div.tabarea { min-height:330px; padding:2px; background-color: #fff; width:100%; margin-bottom:20px; font-size:11px;}

.settingsform .tabarea .settingsleft {  width:68%; float:left;}
.settingsform div.infodiv{ width:30%; float:right;}
.settingsform .tabarea .setting_name { width:25%;}

.mod_topics_edit_css {display:inline; }


/*list Page*/
.topiclist-toptable {width:100%;}


.topiclist-toptable h3 {margin:0; font-size:14px;}
.topiclist-toptable .short_description {}
.topiclist-toptable .short_content {}
.topiclist-toptable .parambox {width:200px;}

.topiclist-maintable  {width:100%; border-collapse:collapse;}
.topiclist-maintable td  {vertical-align: top; border-bottom: 1px solid #dddddd;}
.topiclist-maintable tr:hover td {
	background-color: #99CCFF ! important;
}
.linkin {width:20px;}
.anleitung {font-size:10px;}

.modifytopic1 {margin-bottom:10px;}
.topictd img  {width:16px; height:16px; float:left; margin:2px;}
.topictd .shortdesc {font-size:10px;}

td .topicprops {width:150px;}
.topicprops img  {width:16px; height:16px; float:left; margin:2px;}
.viewbutton {float:right; }


.pnsa_links {width:100%;}
.pnsa_links td {width:33%; padding-right:20px;}
/*
.pnsa_links. td.pn_links {}
.pnsa_links. td.sa_links {}
.pnsa_links. td.modifytopictd {}
*/
.pnsa_links, .pnsa_links h4, .pnsa_links p  {font-size:12px; margin:0;}
.pnsa_links a {
	font-weight: bold;
}

.iconthumb  {float:left; width:42px; height:42px; margin:0 5px 0 0 ;}

.setting_name {width:20%}
.inputf {width:98%}

/* 
  The definitions below provide the style for the edit CSS button 
  Required CSS class name: input.mod_moduledirectory_edit_css
*/
input.mod_topics_edit_css {
  color: #000;
  background-color: #F0F0F0;
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  margin-left: 625px;
  margin-top: -20px;
  margin-bottom: 5px;
  width: 110px;
}

.hilite td {
	background-color: #E0ECBE ! important;
	color: #999999;
}

/*uploader*/
#pictureupload iframe {border:0; height:80px; background: transparent;}
/* Picture Chooser */

#choosertable {width:80%; min-width:500px; position:absolute; top:5%; left:10%;  display:none;}
#choosertable .r1 td {height:17px;}
#choosertable .r3 td {height:17px;}
#choosertable .c1 {width:13px;}
#choosertable .c3 {width:13px;}
#choosertable .r2 .c1 {width:13px; background: url(img/shadow/shadow_w.png) repeat-y; }
#choosertable .r2 .c3 {width:13px; background: url(img/shadow/shadow_e.png) repeat-y; }
#choosertable .r1 .c2 {height:17px; background: url(img/shadow/shadow_n.png) repeat-x;  min-width:500px;}
#choosertable .r3 .c2 {height:17px; background: url(img/shadow/shadow_s.png) repeat-x; }

#picturechooser {height:500px; padding:20px; background-color:#ddd; overflow:scroll;}

.topicpic_preview_close {width:100%; height:20px; text-align:right;  background-color:#ddd;}
.topicpic_preview {float:left; margin:0 10px 10px 0; width:100px; height:100px; overflow:hidden;}
.topicpic_preview img {max-width:100px; border:0; text-align:center} 


.buttonfloater {position: fixed; right:0; top:60%; width: 100%; height:0;}
.buttonfloater .inner {float:right;}
.buttonfloater .inner a { display:block; width: 40px; height:40px; }
.buttonfloater .inner a.back {background-image: url(img/icons/quick-back.png);}
.buttonfloater .inner a.save-back {background-image: url(img/icons/quick-save-back.png);}
.buttonfloater .inner a.save {background-image: url(img/icons/quick-save.png);}
.buttonfloater .inner a.down {background-image: url(img/icons/quick-down.png);}


/*frontend edit*/
body.freditbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #ccc;	
}

.freditcontainer {max-width:700px; margin:0 auto 0 auto; background-color: #eee; padding:10px;}

.freditcontainer td {vertical-align:top;}
.freditcontainer tr.row_a td {background-color: #fff;}
.freditcontainer tr.row_b td {background-color: #f7f7f7;}

.freditcontainer .freditfooter {clear:both; height:10px; width:100%; background-color: #ddd;}
